BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach
SpacesInParentheses: false
SpaceAfterCStyleCast: false
SortIncludes: true
IncludeBlocks: Regroup